@font-face {
  font-family: "Fraunces";
  src:
    url("/fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.woff2") format("woff2"),
    url("/fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src:
    url("/fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.woff2") format("woff2"),
    url("/fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
