@use "_vendor/pico/scss/pico" with (
    $theme-color: "pumpkin",
    $breakpoints: (
        // "sm": ( viewport: 510px,),
        // md: ( viewport: 700px, ),
        lg: ( viewport: 768px, ),
        xl: ( viewport: 768px, ),
        xxl: ( viewport: 768px, ),
    )
);

:root {
    --pico-font-family-emoji: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --pico-font-family-sans-serif: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji',var(--pico-font-family-emoji);
    // system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,Helvetica,Arial,"Helvetica Neue",sans-serif,var(--pico-font-family-emoji);
    --pico-font-family: var(--pico-font-family-sans-serif);
    --pico-font-size: 1rem;

 };

 .container {
    background-color: var(--pico-color-primary);
 };