{% for post in site.posts %}
<section>
  <header>
    <h3><a href="{{ post.url }}">{{ post.date | date: '%B %d, %Y' }}</a></h3>
  </header>
  <div class="content">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>
    <p>category: {% for category in post.categories %}
    <a href="{{ site.url }}/blog/{{ category }}">
    {{ category }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
    <a href="{{ post.url }}">Read more</a>
  </div>
</section>
{% endfor %}