.content {
    .sub-title {
        font-size: 108%;
        opacity: .8;
    }

    .post-description {
        font-size: 1.2rem;
        color: var(--text-color-light)
    }

    ul.tag-links {
        li {
            display: inline-block;

            a {
                text-decoration: none;
                margin: 1rem 0.2rem 0;

                padding: 0.3rem;

                &:hover {
                    color: white;
                    background-color: var(--link-color);
                }
            }
        }

        color: var(--text-color-light);

    }

    .full-width {
        width: 100% !important;
    }

    header.with-featured-img {
        position: relative;
        padding: 0;
        margin-left: calc(var(--space-header) * -1);
        margin-right: calc(var(--space-header) * -1);
        &>img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            
            
        }
    }
    // header.with-background-img {
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     position: relative;
    //     &.background-img-fade-50::before {
    //         content: "";
    //         background-color: rgba(0,0,0, .5);
    //         // opacity: 0.5;
    //     }
    // }

    .header-text-light {
        color: var(--text-color-light);
        * {
            color: var(--text-color-light);
        }
    }
      

    .post-header {
        &.hero-index {
            padding-left: var(--space-hero-header);
            padding-right: var(--space-hero-header);
            text-align: center;
            margin-bottom: 2rem;

            .post-header-content {
                margin-left: calc(var(--space-header) - var(--space-hero-header));
                margin-right: calc(var(--space-header) - var(--space-hero-header));
            }
        }

        .post-header-title,
        .post-header-content>.tag-links {
            margin-bottom: 3rem;
        }


        img {
            max-height: 500px;
            width: auto;
            margin: 2rem auto;
        }

    }

    .half-width {
        float: left;
        width: 50%;
        box-sizing: border-box;
    }

    ul {
        // reset to default style for header
        // list-style: inside;

        li:before {
            content: none;
            list-style-position: inside;
            list-style-image: none;
            // padding-right: 0;
        }
    }

    img.profile-avatar {
        max-height: 300px;
        max-width: 300px;
        margin: 2rem auto 4rem;
    }
}