.content {
    .sub-title {
        font-size: 108%;
        opacity: .8;
    }

    .post-description {
        font-size: 1.2rem;
        color: var(--text-color-light)
    }

    ul.tag-links {
        li {
            display: inline-block;

            a {
                text-decoration: none;
                margin: 1rem 0.2rem 0;

                padding: 0.3rem;

                &:hover {
                    color: white;
                    background-color: var(--link-color);
                }
            }
        }

        color: var(--text-color-light);

    }

    .full-width {
        width: 100% !important;
    }

    .post-page .post-header.with-background-img {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }

    .background-img-fade {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }

    .post-header {
        &.hero-index {
            padding-left: var(--space-hero-header);
            padding-right: var(--space-hero-header);
            text-align: center;
            margin-bottom: 2rem;

            .post-header-content {
                margin-left: calc(var(--space-header) - var(--space-hero-header));
                margin-right: calc(var(--space-header) - var(--space-hero-header));
            }
        }

        .post-header-title,
        .post-header-content>.tag-links {
            margin-bottom: 3rem;
        }


        img {
            max-height: 500px;
            width: auto;
            margin: 2rem auto;
        }

    }

    .half-width {
        float: left;
        width: 50%;
        box-sizing: border-box;
    }

    ul {
        // reset to default style for header
        // list-style: inside;

        li:before {
            content: none;
            list-style-position: inside;
            list-style-image: none;
            // padding-right: 0;
        }
    }

    img.profile-avatar {
        max-height: 300px;
        max-width: 300px;
        margin: 2rem auto 4rem;
    }
}