.content {
    .sub-title {
        font-size: 108%;
        opacity: .8;
    }
    .post-description {
        font-size: 1.2rem;
        color: var(--text-color-light)
    }
}

img.profile-avatar {
    max-height: 300px;
    max-width: 300px;
    margin: 2rem auto 4rem;
}