.markdown {
    /* @apply text-lg leading-relaxed; */
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    /* @apply my-6; */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .markdown ul {
    /* @apply list-disc pl-6; */
    list-style-type: disc;
    padding-left: 1.5rem;    

  }
  
  .markdown h2 {
    /* @apply text-3xl mt-12 mb-4 leading-snug; */
    font-size: 1.875rem;
  }
  
  .markdown h3 {
    font-size: 1.5rem;
    /* @apply text-2xl mt-8 mb-4 leading-snug; */
  }