// Base content element styling.

// Improve code block styling for syntax highlighting
pre {
    overflow-x: auto;
    padding: 1rem;
    border-radius: 0.25rem;
}

code {
    font-size: 0.875em;
}

pre code {
    font-size: 0.875rem;
}
