<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{{ config.title }} | {{ config.description }}{% endblock title %}</title>
    <link rel="stylesheet" href="pico.css" />
    <meta charset="UTF-8">
    {% endblock head %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
    <div id="root">
    <header id="site-header" class="container">
    {% block site_header %}
        <nav>
           <ul id="site-title">
                <li>
                    <h3><a href="{{ config.base_url }}">{{ config.title }}</a></h3>
                </li>
            </ul>
            <ul id="site-nav">
                <li><a class="contrast" href="/">Home</a></li>
                <li><a class="contrast" href="/about">About</a></li>
                <li><a class="contrast" href="/blog">Blog</a></li>
            </ul>
        </nav>
    {% endblock site_header %}
    </header>
    <main id="site-content" class="container">
        {% block content %}
            <div id="front-page">
                {{ hgroup(title=config.title, subtitle=config.description) }}
            </div>
        {% endblock content %}
    </main>
    <footer id="footer" class="container">
        {% block footer %}
        &copy; Copyright 2026 by <a href="{{ config.base_url }}">{{ config.title }}</a>.
        {% endblock footer %}
    </footer>
    </div>
</body>
</html>