 @mixin link-less-style{
    color: var(--pico-text);
    text-decoration-color: var(--pico-text);
    text-decoration: none;
    &:hover {
        text-decoration: var(--pico-underline);
        text-decoration: dotted underline;
    }
 }