---
layout: page
---

{% assign featured_posts = site.posts | where: "featured", true %}
{% assign posts = site.posts | where_exp: "post", "post.featured != true" %}

{% for post in featured_posts %}
  {% capture post_exc %}
<h3>{{ page.title }} | {{ site.title }}</h3>
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<h4><a href="{{ post.url }}">{{ post.date | date: '%B %d, %Y' }}</a> | {% for category in post.categories %}<em>{{ category }}</em>{% unless forloop.last %}, {% endunless %}{% endfor %}</h4>
<p>{{ post.excerpt }} <a class="button primary" href="{{ post.url }}">Read more</a></p>
  {% endcapture %}

  {% assign post_left_right = forloop.index | modulo: 2 %}
  {% assign img_position = 'center' %}
  {% if post_left_right == 0 %}
    {% assign orientation = 'right' %}
  {% else %}
    {% assign orientation = 'left' %}
  {% endif %}
  {% assign post_featured_img_src=page.img_src | default: post.img_src | default: site. %}
  {% include section_image.html
    content=post_exc
    img_src=post_featured_img_src
    img_alt=""
    orientation=orientation
    img_position=img_position
    %}
{% endfor %}

<div class="wrapper align-center style1">
    <div class="inner">
        <h1>Recent Posts</h1>
        <div class="index align-left">
            {% for post in posts %}
            <section>
                <header>
                    <h3> <a href="{{ post.url }}"> {{ post.date | date: '%B %d, %Y' }}</a> </h3>
                </header>
                <div class="content">
                      <h3>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                      </h3>
                    <h4>
                        {% for category in post.categories %}<em>{{ category }}</em>{% unless forloop.last %}, {% endunless %}{% endfor %}
                    </h4>
                    <p>{{ post.excerpt }} <a class="button" href="{{ post.url }}">Read more</a></p>
                    
                </div>
            </section>
            {% endfor %}
        </div>


        {{ content  }}

    </div>

</div>