---
layout: base
---

{% assign content_align = page.content_align | default: 'center' %}
{% assign img_src = page.featured_img | default: site.banner_img_src %}
{% assign img_alt = page.img_alt | default: site.banner_img_alt %}
{% assign orientation = page.orientation | default: 'left' %}
{% assign section_type = page.section_type | default: 'banner' %}
{% assign img_position = page.img_position | default: 'center' %}
{% assign fullscreen = page.fullscreen | default: false %}
{% assign style_num = page.style_num | default: '5' %}
{% assign colour_num = page.colour_num %}
{% assign invert_scheme = page.invert_scheme | default:  false %}

{% capture banner_content %}
# {{ page.title }}
{% if page.subtitle %}
## {{ page.subtitle }}
{% endif %}
{% if page.description %}
## {{ page.description }}
{% endif %}
{{ page.date | date: "%B %d, %Y" }}
{% endcapture %}


{% include section_image.html
    section_type=section_type
    img_position=image_position
    content=banner_content
    content_align=content_align
    style_num=style_num
    img_src=img_src
    img_alt=img_alt
    orientation=orientation
    fullscreen=fullscreen
    invert_scheme=invert_scheme
    colour_num=colour_num
    %}


<section class="wrapper alignt-left style1">
    <div class="inner">
        {{ content }}
    </div>
</section>