---
layout: base
---

{% assign content = content | markdownify %}
{% assign content_align = page.content_align | default: 'center' %}
{% assign banner_img_src = page.img_src | default: site.banner_img %}
{% assign banner_img_alt = page.banner_img_alt | default: site.banner_img_alt %}
{% assign orientation = page.orientation | default: 'left' %}
{% assign section_type = page.section_type | default: 'banner' %}
{% assign img_position = page.img_position | default: 'center' %}
{% assign fullscreen = page.fullscreen | default: false %}
{% assign style_num = page.style_num | default: '2' %}
{% assign colour_num = page.colour_num | default: '0' %}
{% assign invert_scheme = page.invert_scheme | default:  false %}

{% capture banner_content %}
# {{ page.title }}
{% if page.subtitle %}
## {{ page.subtitle }}
{% endif %}
{% if page.description %}
## {{ page.description }}
{% endif %}
{{ page.date | date: "%B %d, %Y" }}
{% endcapture %}




{% include section_image.liquid
    content=banner_content
    banner=true
    style_num=style_num
    img_src=banner_img
    img_alt=banner_img_alt
    orientation=orientation
    content_align=center
    fullscreen=fullscreen
    invert_scheme=scheme_invert
    color_num=colour_num
    %}


<section class="wrapper alignt-left style1">
    {{ content }}
</section>