#footer {
    ul.nav-menu {
        font-size: 1.3rem;
    }
    .items section {
        display: flex;
        justify-content: end;
        flex-direction: column;
        text-align: left;
        // align-items: flex-end;
        @include breakpoint(">=medium") {
            text-align: center;
            flex-direction: row;
            justify-content: center;
        }
    }
    ul.menu {
        margin-bottom: 1.5rem;
    }
}