.menu a {
  text-decoration: none;
}

/**
  * Hamburguer menu toggle
  */
.menu-toggle {
  position: absolute;
  z-index: 10001;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  @include breakpoint(">=medium") {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  div {
    padding: 0;
    margin: 0;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
  }
  &.open {
    .bar1 {
      transform: rotate(-45deg) translate(-5px, 10px);
    }
    .bar2 {
      opacity: 0;
    }
    .bar3 {
      transform: rotate(45deg) translate(-5px, -10px);
    }
  }
}

/**
  * Overlay
  */
@include breakpoint(">=medium") {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 900;
  }
}

/**
  * Side menu
  */
// Define keyframes for sliding down (mobile)
@include keyframes(slideDown) {
  from {
    max-height: 0;
  }
  to {
    max-height: 100vh;
  }
}

// Define keyframes for sliding up (mobile)
@include keyframes(slideUp) {
  from {
    max-height: 100vh;
  }
  to {
    max-height: 0;
  }
}

// Define keyframes for sliding in from the right (desktop)
@include keyframes(slideInRight) {
  from {
    right: -250px;
  }
  to {
    right: 0;
  }
}

// Define keyframes for sliding out to the right (desktop)
@include keyframes(slideOutRight) {
  from {
    right: 0;
  }
  to {
    right: -250px;
  }
}
.side-menu {
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: max-height 0.15s ease-out;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 0;
  overflow: hidden;

  &.open {
    max-height: 100vh;
    @include vendor(animation, slideDown "0.15s" ease-out);
  }

  @include breakpoint(">=medium") {
    position: fixed;
    z-index: 950;
    top: 0;
    width: 250px;
    transition: position 0.15s ease-out;
    @include vendor(animation, slideOutRight "0.15s" ease-in-out);

    &.open {
      position: fixed;
      right: 0;
      transition: position 0.15s ease-out;
      @include vendor(animation, slideInRight "0.15s" ease-out);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 2rem;

    li {
      padding: 15px;
      // border-bottom: 1px solid #ccc;
    }
  }
}

/**
  * Footer menu
  */
.footer-menu {
  ul.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;

    // li {
    //   position: relative;
    // }
    @include breakpoint(">=medium") {
      display: inline-flex;
      gap: 0.8rem;
      padding: 0;

      li.menu-item::after {
        /* Add the '/' between items */
        content: "/";
        position: relative;
        right: -0.5rem;
      }

      li.menu-item:last-child::after {
        /* Remove the '/' from the last item */
        content: "";
      }
    }
  }
}

.overlay.show {
  display: block;
}
